<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>        
        <title>Create</title>
    </head>
    <body>
            <h2>You created a new contact: {{new_contact.get('name')}}, {{new_contact.get('number')}}, {{new_contact.get('address')}} </h2>
        <form action="/home" method="post">
            <button type="submit" name="button">See all your contacts</button>
        </form>
    </body>
</html>
