<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title>Start Fresh</title>
    </head>
    <body>
        <div class="container">
            <h3>You just chose to start fresh. All contacts have been removed.</h3>
            <form action="/start_fresh" method="post">
                <button type="submit" name="button">Start Fresh</button>
            </form>
        </div>    
    </body>
</html>
